* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Share Tech Mono";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 18, 18);
  color: white;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  background-color: rgb(48, 43, 43);
  padding: 1.5rem;
  border-radius: 0px 0px 30px 30px;
}

.menu_list {
  display: flex;
}
.nav_button {
  margin: 0.8rem;
}
.nav_button_items {
  border: 1px solid rgb(75, 74, 74);
  border-radius: 10px;
  padding: 10px;
}
.nav_button_items:hover {
  background-color: #b6cdf0;
  color: black;
  transition: 0.2s;
  border: 1px solid black;
  box-shadow: 1px 1px 1px white;
}

.media_icon {
  font-size: 1.5rem;
}

.media_icon:hover {
  color: #45e190;
  transition: 0.2s;
}

a {
  color: white;
}

main {
  display: grid;
  grid-template-columns: 2;
  column-gap: 5rem;
  align-items: center;
  width: 80vw;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #45e190;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #45e190;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #45e190;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #45e190 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  color: rgb(22, 18, 18);
  border: 4px solid #45e190;
  position: relative;
  border-radius: 6px;
}

.main_button_list {
  display: flex;
  margin-top: 4rem;
}
#_galerie_button:hover {
  background-color: #b6cdf0;
  color: black;
  transition: 0.2s;
  border: 1px solid black;
  box-shadow: 1px 1px 1px white;
}
#_contact_button {
  background-color: white;
  color: black;
}
#_contact_button:hover {
  background-color: #45e190;
  color: black;
  transition: 0.2s;
  border: 1px solid black;
  box-shadow: 1px 1px 1px white;
}

.main_button {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 15px;
  margin-right: 4rem;
  display: block;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
}
h2 {
  margin: 1.1rem 0;
}

.main_section {
  grid-column: 1;
}

.img_section,
.img_accomplish {
  background: url(assets/capa.jpg) center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  grid-column: 2;
  border: 2px solid rgb(175, 174, 174);
}

footer {
  width: 82vw;
  display: block;
}
h5 {
  margin-left: 1.1rem;
  margin-top: 3rem;
}
.stack_icons {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  margin-top: 0.8rem;
}
.stack_icons > li {
  padding: 1.2rem;
}

.stack_button {
  border: 1px solid rgb(75, 74, 74);
  border-radius: 10px;
  padding: 10px;
}

.stack_button:hover {
  background-color: #b6cdf0;
  color: black;
  transition: 0.2s;
  border: 1px solid black;
  box-shadow: 1px 1px 1px white;
}
.menu {
  display: none;
}
